<div class="pt-2">
  <h1><%= page_title %></h1>

  <div class="flex flex-wrap -mx-3 py-3" id="bars">
    <% places.each do |place| %>
      <%= render 'shared/place_card', place: place %>
    <% end %>
  </div>
</div>
