<div class="flex justify-between">
  <h2 class="text-2xl font-semibold">
    <%= t(".#{header}") %>
  </h2>
  <%=
    link_to t('.all', count: events.count),
            scope_search_to_place ? events_path(place: events.first.place.slug) : events_path,
            class: 'px-4 py-2 border border-gray-300 rounded text-gray-600 font-semibold hover:shadow'
  %>
</div>

<div class="flex flex-wrap -mx-3 py-3">
  <% events.each do |event| %>
    <%= render 'shared/event_card', event: event, host: event.place %>
  <% end %>
</div>
