<div class="container mx-auto px-4">
  <div class="h-auto sm:h-16 flex items-center justify-between">
    <div class="my-4 sm:my-0">
      <a class="flex text-red-600 text-xl font-semibold no-underline" href="/">
        <%= image_tag 'gotaste-120.png', class: 'h-6 pr-2', alt: 'GoTaste logo' %>
        GoTaste
      </a>
    </div>
    <nav class="max-w-full relative">
      <button type="button" class="sm:hidden">
        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14 text-red-400" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M442 114H6a6 6 0 0 1-6-6V84a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6z"></path></svg>
      </button>
      <ul class="list-reset sm:flex flex-col sm:flex-row absolute sm:static bg-white pin-t pin-r mt-10 sm:mt-0 rounded shadow-lg sm:shadow-none whitespace-no-wrap z-10 hidden">
        <li><a class="block py-4 px-4 sm:py-1 sm:px-2 text-red-500 font-semibold no-underline hover:bg-red-100 rounded" href="/discover">Gå på opdagelse</a></li>
        <li><a class="block py-4 px-4 sm:py-1 sm:px-2 text-red-500 font-semibold no-underline hover:bg-red-100 rounded" href="/events">Begivenheder</a></li>
        <li><a class="block py-4 px-4 sm:py-1 sm:px-2 text-red-500 font-semibold no-underline hover:bg-red-100 rounded" href="/businesses">Forhandlere</a></li>
        <div class="mx-2 my-1 border border-red-100"></div>
        <li><a class="block py-4 px-4 sm:py-1 sm:px-2 text-red-500 font-semibold no-underline hover:bg-red-100 rounded" href="/login">Log ind</a></li>
      </ul>
    </nav>
  </div>
</div>
