<div class="pt-10">
  <div class="flex justify-between">
    <div class="text-2xl font-semibold">
      <%= t('.selected_places') %>
    </div>
    <%= link_to t('.all', count: @places.count), places_path, class: 'px-4 py-2 border border-gray-300 rounded text-gray-600 font-semibold hover:shadow' %>
  </div>

  <div class="flex flex-wrap -mx-3 py-3">
    <% @places.each do |place| %>
      <%= render 'place_card', place: place %>
    <% end %>
  </div>
</div>

<div class="py-2">
  <%= render 'shared/events_row', events: @events.all, scope_search_to_place: false %>
</div>
