<div class="pt-10">
  <h1 class="mb-4">Om GoTaste</h1>
  <div class="text-gray-700">
    <div class="flex -mx-2 flex-wrap">
      <div class="px-2 w-1/2 sm:w-1/4">
        <%= cl_image_tag("anders.jpg", width: 400, height: 400, crop: :thumb, quality: :auto, class: 'img rounded-lg shadow-lg mb-3', alt: 'Anders') %>
        Anders, medstifer af GoTaste
      </div>
      <div class="px-2 w-1/2 sm:w-1/4">
        <%= cl_image_tag("mads.jpg", width: 400, height: 400, crop: :thumb, quality: :auto, class: 'img rounded-lg shadow-lg mb-3', alt: 'Mads') %>
        Mads, medstifer af GoTaste
      </div>
    </div>
  </div>
  <div class="w-full md:w-2/3 mt-8 text-lg">
    <p class="my-4 font-medium">Velkommen til GoTaste - din adgang til de bedste vinbarer og vine i København!</p>
    <p class="my-4">Vi er to glade vinentusiaster, som brænder for vinens verden og at udbrede viden om vin til flere
      på en tilgængelig måde. Ingen af os er uddannet indenfor vinbranchen, og derfor ved vi selv, at det kan være en
      udfordring at finde frem til de bedste vinbarer og de bedste vine.</p>
    <p class="my-4">Rejsen startede, da vi var på jagt efter et godt glas vin i København, men vi vidste ikke, hvor vi
      skulle gå hen. Derefter kastede vi os ud i at afsøge de sociale medier for anbefalinger. Her fandt vi hurtigt
      frem til, at man er nødt til at kende til de gode vinbarer, før man går ud.</p>
    <p class="my-4">Derfor har vi lavet GoTaste. Stedet til dig, der vil kende til de bedste vinbarer i København,
      finde gode vinsmagninger og lære mere om vin sammen med andre vinentusiaster. Alt sammen samlet på ét sted - på
      en overskuelig måde.</p>
    <p class="my-4">Vi er her for at lære sammen med jer, og vi glæder os.</p>
    <p class="my-4">Vi håber, at du bliver glad for GoTaste, og du er altid velkommen til at skrive til os for ris og
      ros eller gode idéer på:</p><a class="text-red-600 no-underline hover:underline"
      href="mailto:info@gotaste.dk">info@gotaste.dk</a>
  </div>
</div>

