
<ul class="flex border-b">
  <li class="-mb mr-1">
    <%= link_to t(".profile"), edit_admin_place_path(place.slug), class: "inline-block border-r py-2 px-4 font-semibold text-red-600" %>
  </li>
  <li class="mr-1">
    <%= link_to t(".opening_hours"), admin_place_opening_hours_path(place.slug), class: "inline-block border-r py-2 px-4 font-semibold text-red-400 hover:text-red-500" %>
  </li>
</ul>
