<div class="px-2">
  <div class="flex -mx-2 flex-wrap -mx-4 mb-1">
    <div class="px-2 w-1/3 sm:w-1/3">
      <div class="text-sm">Mandag</div>
    </div>
    <div class="px-2 w-2/3 sm:w-2/3">
      <div class="text-right text-sm text-gray-600">16:00 - 23:30</div>
    </div>
  </div>
</div>
