<!DOCTYPE html>
<html lang="da">
  <%= render 'layouts/head' %>
  <body class="bg-white font-sans antialiased">
    <%= render 'shared/navbar' %>

    <div class="">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
