<!DOCTYPE html>
<html lang="da">
<%= render 'layouts/head' %>

<body class="bg-white font-sans antialiased text-gray-900">
  <div class="h-screen pb-14 bg-right bg-cover" style="background-image:url('bg.svg');">

    <div class="w-full container mx-auto p-6">
      <div class="w-full flex items-center justify-between">
        <%= render 'shared/logo' %>
      </div>
    </div>

    <div class="container pt-24 md:pt-48 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">
      <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
        <h1 class="my-4 text-3xl md:text-5xl text-red-500 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">Smag og g책 p책 oplevelse i vinsens verden</h1>
        <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle">Find de bedste vinbarer, vinhandlere og vinsmagninger.</p>
        <input type="email" name="email" id="email" placeholder="Indtast din e-mail, s책 smider vi dig p책 invitationslisten "class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>

      <div class="w-full xl:w-3/5 py-6 overflow-y-hidden">
        <img class="w-5/6 mx-auto lg:mr-0 slide-in-bottom" src="devices.svg">
      </div>

      <div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in">
        <a class="text-gray-500 no-underline hover:no-underline" href="#">&copy; GoTaste 2019</a>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
