<!DOCTYPE html>
<html lang="da">
<%= render 'layouts/head' %>

<body class="bg-white font-sans antialiased text-gray-400">
  <div class="h-screen pb-14 bg-right bg-cover" style="background-image:url(<%= image_path('bg.jpg') %>);">

    <div class="w-full container mx-auto p-6">
      <div class="w-full flex items-center justify-between">
        <%= render 'shared/logo' %>
      </div>
    </div>

    <div class="container pt-24 md:pt-48 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">
      <%= yield %>

      <div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in">
        <a class="text-gray-500 no-underline hover:no-underline" href="#">&copy; GoTaste 2019</a>
      </div>
    </div>
  </div>
</body>
</html>
